<footer class="footer-container">
  <div id="footer">
    <div class="iconediv iconefirst">
      <%= link_to dashboard_path do %>
      <i class="fas fa-palette footer-icone"></i>
      <% end %>
    </div>
    <div class="iconediv iconesecond">
    <%= link_to root_path do %>
      <i class="fas fa-mobile-alt footer-icone"></i>
      <% end %>
    </div>
    <div class="iconediv iconethird">
      <i class="fas fa-ticket-alt footer-icone"></i>
    </div>
  </div>
</footer>
