
<div class="footer-container">
  <div id="footer">
    <div class="iconediv iconefirst">
      <i class="fas fa-palette footer-icone"></i>
    </div>
    <div class="iconediv iconesecond">
      <i class="fas fa-mobile-alt footer-icone"></i>
    </div>
    <div class="iconediv iconethird">
      <i class="fas fa-cart-arrow-down footer-icone"></i>
    </div>
  </div>
</div>
