<div class="container">
    <% UserExhibition.where(status: "booked", user: user).each do |user_exhibition| %>
       <%= render "shared/exhibition_card", reco: user_exhibition.exhibition %>
    <% end %>
</div>
