<<<<<<< HEAD
<nav class="nav">
  <a class="nav-link active" aria-current="page" href="#">Match</a>
  <a class="nav-link" href="#">Book </a>
  <a class="nav-link" href="#">Exhibition</a>
</nav>
=======
<% @all_artworks_liked.each do |artwork| %>
<%= artwork.title %>
<% end %>
>>>>>>> master
