<%# <div class="container-show"> %>
  <%# <div data-controller="swiper">
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div> %>

<%# cl_image_tag Artwork.last.photo.key, height: 500, width: 400, crop: :fill %>

  <div class="global">
    <img class="img-show" src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Amedeo_Modigliani_032.jpg" width= 100% alt="ok">

    <div class="show-details">
      <div class="box">
        <h2>Artist </h2>
        <p>Uses data from past projects to provide better delivery estimates</p>
      </div>
    </div>
  </div>
<%# </div> %>
