<div>
  <div class="swiper-container mySwiper" data-controller="swiper">
    <div class="swiper-wrapper">
      <% @artworks.each do |artwork| %>
        <div class="swiper-slide" data-id="<%= artwork.id %>"><%= artwork.title %></div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>