<div class="swiper-container mySwiper" data-controller="swiper">
  <div class="swiper-wrapper">
    <% @artworks.each_with_index do |artwork, index| %>
      <div class="swiper-slide" data-swiper-target="slide" data-id="<%= rand(artwork.id)%>" data-like-url="<%= like_artwork_path(artwork) %>">
        <%= render "home_card", artwork: artwork, index: index %>
      </div>
    <% end %>
  </div>
</div>
