<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1506792006437-256b665541e2?ixid=MnwxMjA3fDB8MHxwaG90[…]fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);">
  <div class="container">
    <h1> Swipe your way to your new favorite museum !</h1>
    <p>An app to help you find the best exhibition for you.</p>
    <p>Get your first recomandation by swiping to the right the artworks you like and to the left to dislike.</p>
    <%= link_to "Begin Now", root_path, class: "btn btn-flat" %>
  </div>
</div>
