.btn-ghost {
  color: white;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  // width: 16%;
  background: rgb(0, 0, 0);
  text-align: center;
  font-size: smaller;
  padding: 10px 50px;
}

// .btn-ghost:hover {
//   background: black;
//   transition: opacity 0.3s ease;
// }
.discard-exhibition i {
  text-decoration: none;
  color: grey;
}


a, a:hover, a:focus {
  text-decoration: none;
}

.payment-v{
  justify-content: center;
}
