

// .button-link {
//   width: 50px;
//   height: 50px;
//   // display: inline-block;
//   // background-color: #E6E6E6;
//   // border-radius: 25px;
//   // margin-left: auto;
//   // margin-right: auto;
//   // display: block;
//   // margin-top: 50vh;
//   // transition: box-shadow 1s ease, margin-top 1s ease;
// }


.heart {
  fill: rgb(185, 166, 166);
  // background: none;
  // position: relative;
  // top: 15px;
  width: 23px;
  // margin-left: auto;
  // margin-right: auto;
  // display: block;
}


.heart:hover {
  fill: rgb(209, 12, 12);
  // background: none;
  // position: relative;
  // top: 15px;
  width: 23px;
  // margin-left: auto;
  // margin-right: auto;
  // display: block;
}

.button-heart, .button-heart:hover {
  color: grey
}

.button-heart.active {
  color: rgb(209, 12, 12);
  &:hover {
    color: rgb(209, 12, 12);
  }
}