.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 15px;
  border-radius: 10px;
  position: relative;
  align-items: flex-start;
  // justify-content: center;
  padding: 18px;

  .card-title {
    margin-top: 0;
    a {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  .far.fa-trash-alt{
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 18px;
  }
  
  .fa-heart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
  }
}

.card-product > img {
  height: 160px;
  width: 120px;
  object-fit: cover;
  // padding: 18px;  
  border-radius: 20px;
  margin-right: 24px;
}


.card-product-infos > p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.card-product .card-product-infos {
 
}



// color 
// #7DCACD
.exhibition-actions {
  text-align: right;
  position: absolute;
  right: 9px;
  top: 4px;
}

.title > h2 {
  font-size: 14px;
  font-weight: bold;
}




.card-museum {
  background: none;
  color: #131313;
  align-items: baseline;
  border-radius: 20px;
  background-size: cover;
  width: fit-content;
  // padding: 5px 10px;
  display: flex;
  font-size: 17px;
}
.card-dates {
  border-radius: 20px;
  background-size: cover;
  color: #131313;
  width: fit-content;
  // padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 17px;
  i {
    margin-right: 10px;
  }
}

.card-tag {
  background: #e0f2f3ab;
  border-radius: 25px;
  color: #1FA3A9;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: fit-content;
}

.card-type {
  background: #e0f2f3ab;
  border-radius: 25px;
  color: #1FA3A9;
  display: flex;
  align-items: center;
  padding: 5px;
}

.button-save {
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-decoration: none;
}

.button-delete {
  position:absolute;
  left: 15px;
  bottom: 10px;
  text-decoration: none;
}
.titre {
  text-align: center;
  color: #03989E;
  margin-top: 10px;
}
