.img-show {
  height: 100%;
  max-height: 78vh;
  object-fit: contain;
  height: 100%;
  object-fit: contain;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px;
}

.artwork-box {
  border-radius: 0px 0px 5px 5px;
  // box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: start;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.italic {
  font-style: italic;
}

.desc-placeholder {
  color: grey;

}

.desc-data {
  color: white;
  margin: 0px;
  padding: 0px;
}

.description-text {
  writing-mode: vertical-rl;
  transform: rotateZ(-180deg);
  // margin: 0px 0px 8px 0px;
  // vertical-align: baseline;
  /* border-top: 1px; */
  border-left: #B00100 solid 4px;
  padding-left: 10px;
  margin-left: 0px;
}

.artwork-box {
  display: flex;
}

.desc-data-author {
  font-size: 19px;
}
