.footer_menu {
  display: flex;
  color: #03989E;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.footer_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-decoration: none;
  p {
    margin: 0;
    padding-left: 7px;
    font-size: 24px;
    color: #03989E;
  }
}
.icon_footer_color {
  color: #03989E;
  }
