.navbar-lewagon {
  justify-content: end;
  background-color: white;
  // box-shadow: 0px ​1px 12px grey;
  flex-direction: row-reverse;
  gap: 25%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.fa-envelope:before {
  color: black;
}

.nav-item {
  list-style: none;
}

