.navbar-lewagon {
  justify-content: space-between;
  background-color: #d3d3d3;
  // box-shadow: 0px ​1px 12px grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.fa-envelope:before {
  color: black;
}